.weatherDetails__wrapper {
  width: 520px;
  height: 623px;
  border-radius: 0px 25px 25px 0;
  background-color: #222831;
  margin-top: 21px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 55px 50px 0 55px;
  box-sizing: border-box;
}
.details__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.details__wrapper div {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}
