input {
  top: -141px;
  left: 32px;
  width: 939px;
  height: 79px;
  box-sizing: border-box;
  padding: 27px;
  align-self: center;
  background-color: transparent;
  border: none;
  border-radius: 17px;
  border: 1px solid #e7e7e7;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
input::placeholder {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
