.app__main {
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 62px;
  justify-content: center;
}

/* .app_main {
  display: flex;
} */
.notfound__image {
  width: 1000px;
  height: 900px;
}
